{% extends "base.html" %}

{% block content %}

	<h2>Edit comment</h2>


    <div>
        <form method="post">

            <input type="hidden" id="post_id" name="post_id" value="{{post_id}}">
            
            <div>
                <label for="subject">Comment:</label>
                <input type="text" class="form-control" id="comment" name="comment" value="{{comment}}">
            </div>
           
            {% if error %}
                <div class="alert">{{error}}</div>
            {% endif %}

            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}